In [1]:
import pandas as pd 

path_de = ""

In [2]:
data_en= pd.read_excel(path_en, sheet_name=0)
data_de= pd.read_excel(path_de, sheet_name=0)

In [3]:
from sqlalchemy import create_engine

engine= create_engine("")

data_en.to_sql(con=engine,name="en_curricula_austria",if_exists="replace",index=False)
data_de.to_sql(con=engine,name="de_curricula_austria",if_exists="replace",index=False)

In [33]:
# Remove characters when repeating more than 3 times

def remove_repeated_characters(str):
    str = str.replace("^(\\S)\\1{3,}", "")
    return str

data = pd.read_sql_query('select * from "en_curricula_austria";',engine)
data['Course Description']=data['Course Description'].apply(remove_repeated_characters)
data_en.to_sql(con=engine,name="en_curricula_austria",if_exists="replace",index=False)

data = pd.read_sql_query('select * from "de_curricula_austria";',engine)
data['Course Description']=data['Course Description'].apply(remove_repeated_characters)
data_de.to_sql(con=engine,name="de_curricula_austria",if_exists="replace",index=False)

'# Remove characters when repeating more than 3 times\n\ndef remove_repeated_characters(str):\n    str = str.replace("^(\\S)\\1{3,}", "")\n    return str\n\ndata = pd.read_sql_query(\'select * from "en_curricula_austria";\',engine)\ndata[\'Course Description\']=data[\'Course Description\'].apply(remove_repeated_characters)\ndata_en.to_sql(con=engine,name="en_curricula_austria",if_exists="replace",index=False)\n\n#data = pd.read_sql_query(\'select * from "de_curricula_austria";\',engine)\n#data[\'Course Description\']=data[\'Course Description\'].apply(remove_repeated_characters)\n#data_de.to_sql(con=engine,name="de_curricula_austria",if_exists="replace",index=False)'

In [34]:
#FOR ENGLISH CURRICULA

#Course names 
name_len = data_en['Course Name'].str.len().sum()
print("Number of characters within course names: ", name_len)

#Course descriptions
descri_len = data_en['Course Description'].str.len().sum()
print("Number of characters within course descriptions: ", descri_len)

#Total amount of charactersfor Job ads
total_characters_curricula = name_len + descri_len
print("Number of characters to send to DeepL API for Austrian Curricula: ", total_characters_curricula)

Number of characters within course names:  5160
Number of characters within course descriptions:  135285.0
Number of characters to send to DeepL API for Austrian Curricula:  140445.0